/*common for all pages*/
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;/*navajowhite;*/
    font-style: italic;
    font-family: calibri, sans-serif;
    font-size: 180%;
    font-weight: bolder;
}
header {
    display: flex;
    flex-direction: row;
}
header h3 {
    padding-top: 150px;
    font-size: 100%;
}
#nav_menu ul {
    clear: both;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
    margin: 0;
}
#nav_menu ul li {
    flex-basis: 20%;
}
#nav_menu ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
}
#nav_menu a.current {
    color: brown;
}
main {
    display: flex;
    flex-direction: row;
}
main a {
    text-decoration: none;
}
aside {
    padding: 30px 20px 20px 40px;
}
section {
    padding: 30px 20px 20px 60px;
}
/*for index.html page */
.vetsgif {
    float: right;
    padding-left: 300px;
    padding-top: 20px;
    animation-iteration-count: 3;
}
/*for donuts.html file */ 
#donutsMain aside h4{
    font-size: 75%;
}
#donutsMain aside p {
    font-size: 70%;
}
/*for coffee.html file */ 
#coffeeMain aside h4{
    font-size: 80%;
}
#coffeeMain aside p {
    font-size: 70%;
}
#coffeeMain section img {
    padding-left: 200px;
}
/*for aboutUs.html file */ 
#aboutUsMain section p {
    font-size: 70%;
}
#aboutUsMain #aboutUsImg2 {
    padding-top: 20px;
}
/*for contactUs.html file */ 
#contactUsMain p {
    font-size: 70%;
}
#contactUsMain section img {
    padding-left: 300px;
}
#nav_menu_footer ul {
    display: flex;
    flex-basis: 100%;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}
#nav_menu_footer ul li {
    flex-basis: 100%;
}
#nav_menu_footer ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    font-weight: bold;
}
/*for locationHours.html file */ 
#locationHoursMain aside p {
    font-size: 70%;
}

#locationHoursMain {
    padding-top: 20px;
}
